package [% config.base %]::Const;
require Exporter;
@ISA = qw(Exporter);
@EXPORT_OK = qw/
[% FOR macro IN macros -%]
[% macro.macro %]
[% END -%]/;

%EXPORT_TAGS = ('all' => \@EXPORT_OK);

use warnings;
use strict;

use constant {
[% FOR macro IN macros -%]
    [% macro.macro %] => [% macro.value %],
[% END -%]
};

=head1 NAME

File::PNG::Const

=head1 SYNOPSIS

       # Get the constants you need:
       use File::PNG::Const qw/PNG_TRANSFORM_INVERT_ALPHA
                               PNG_COLOR_MASK_ALPHA/;
       # Get everything:
       use File::PNG::Const ':all';

=head1 CONSTANTS

This file contains constants extracted from the header file of the PNG
library, C<png.h>. The constants in this file are

=over
[% FOR macro IN macros %]
=item [% macro.macro %] = [% macro.value %]
[% END %]
=back

=head1 ABOUT THIS MODULE

This Perl module was automatically created from C<png.h>. To rebuild
it, run the script "strip-constants.pl" in the top directory of the
L<File::PNG> distribution. You need to have the L<Template> module
installed. You may need to edit the script somewhat, depending on your
environment.

The template for creating Const.pm is in directory C<tmpl> in the
File::PNG distribution. Its name is C<Const.pm.tmpl>.

[% INCLUDE author %]
