package [% config.base %]::Const;
require Exporter;
@ISA = qw(Exporter);
@EXPORT_OK = qw/
[% FOR macro IN macros -%]
[% macro.macro %]
[% END -%]/;

%EXPORT_TAGS = ('all' => \@EXPORT_OK);

use warnings;
use strict;

use constant {
[% FOR macro IN macros -%]
    [% macro.macro %] => [% macro.value %],
[% END -%]
};

=head1 NAME

[% config.base %]::Const

=head1 SYNOPSIS

       # Get the constants you need:
       use [% config.base %]::Const qw/PNG_TRANSFORM_INVERT_ALPHA
                               PNG_COLOR_MASK_ALPHA/;
       # Get everything:
       use [% config.base %]::Const ':all';

This module contains no functions, only constants.

=head1 CONSTANTS

This file contains constants extracted from the header file of the PNG
library, C<png.h>. The constants in this file are

=over
[% FOR macro IN macros %]
=item [% macro.macro %] = [% macro.value %]
[% END %]
=back

=head1 EXPORTS

Nothing is exported by default, but all the symbols in this module can
be exported on request. There is one export tag, 'all', which exports
all the symbols in this module:

    use [% config.base %]::Const ':all';

=head1 ABOUT THIS MODULE

This Perl module was automatically created from C<png.h>. To rebuild
it, run the script "strip-constants.pl" in the top directory of the
L<[% config.base %]> distribution. You need to have the L<Template> module
installed. You may need to edit the script somewhat, depending on your
environment.

The template for creating Const.pm is in directory C<tmpl> in the
[% config.base %] distribution. Its name is C<Const.pm.tmpl>.

[% INCLUDE author %]
