# This file is just a list of exports and documentation. The source
# code for this file is in Libpng.xs in the top directory.

package [% config.base %]::Libpng;
require Exporter;
require DynaLoader;
use Carp;
@ISA = qw(Exporter);
@EXPORT_OK = qw/
[% FOR function IN functions -%]
	[% function %]
[% END -%]
read_file
/;

%EXPORT_TAGS = (
    all => \@EXPORT_OK,
);

require XSLoader;
[% INCLUDE version %]
XSLoader::load('[% config.base %]', $VERSION);

sub read_file
{
    my ($file_name) = @_;
    my $png = create_read_struct ();
    open my $in, "<:raw", $file_name or croak $!;
    $png->init_io ($in);
    $png->read_png ();
    close $in or croak $!;
    return $png;
}

sub write_file
{
    my ($png, $file_name) = @_;
    open my $in, ">:raw", $file_name or croak $!;
    $png->init_io ($in);
    $png->write_png ();
    close $in or croak $!;
}

1;

# Local Variables:
# mode: perl
# End:
