#line 2 "tmpl/Libpng.xs.tmpl"
#include "EXTERN.h"
#include "perl.h"
#include "XSUB.h"

/* There is some kind of collision between a file included by "perl.h"
   and "png.h" for very old versions of libpng, like the one used on
   Ubuntu Linux. */

#define PNG_SKIP_SETJMP_CHECK
#include <png.h>
#include "perl-libpng.h"
#include "const-c.inc"

MODULE = [% config.base %] PACKAGE = [% config.base %]::Libpng PREFIX = perl_png_

PROTOTYPES: ENABLE

INCLUDE: const-xs.inc

[% config.base %]::Libpng perl_png_create_read_struct ()
        CODE:
        RETVAL = perl_png_create_read_struct ();
        OUTPUT:
        RETVAL

[% config.base %]::Libpng perl_png_create_write_struct ()
        CODE:
        RETVAL = perl_png_create_write_struct ();
        OUTPUT:
        RETVAL

void perl_png_destroy_read_struct (Png)
        [% config.base %]::Libpng  Png
        CODE:
        perl_png_destroy_read_struct (Png);
        OUTPUT:

void perl_png_destroy_write_struct (Png)
        [% config.base %]::Libpng  Png
        CODE:
        perl_png_destroy_write_struct (Png);
        OUTPUT:

void perl_png_write_png (Png, transforms = PNG_TRANSFORM_IDENTITY)
        [% config.base %]::Libpng  Png
        int transforms
        CODE:
        perl_png_write_png (Png, transforms);
        OUTPUT:

void perl_png_init_io (Png, fp)
        [% config.base %]::Libpng  Png
        FILE * fp
        CODE:
        png_init_io (Png->png, fp);
        Png->init_io_done = 1;
        OUTPUT:

void perl_png_read_info (Png)
        [% config.base %]::Libpng  Png
        CODE:
        png_read_info (Png->png, Png->info);
        OUTPUT:

void perl_png_read_update_info (Png)
        [% config.base %]::Libpng  Png
        CODE:
        png_read_update_info (Png->png, Png->info);
        OUTPUT:

void perl_png_read_image (Png)
        [% config.base %]::Libpng  Png
        CODE:
        perl_png_read_image (Png);
        OUTPUT:

void perl_png_read_png (Png, transforms = PNG_TRANSFORM_IDENTITY)
        [% config.base %]::Libpng  Png
        int transforms
        CODE:
        png_read_png (Png->png, Png->info, transforms, 0);
        OUTPUT:

SV * perl_png_get_text (Png)
        [% config.base %]::Libpng  Png
        CODE:
        RETVAL = perl_png_get_text (Png);
        OUTPUT:
        RETVAL

void perl_png_set_text (Png, text)
        [% config.base %]::Libpng  Png
        AV * text
        CODE:
        perl_png_set_text (Png, text);
        OUTPUT:

int perl_png_sig_cmp (sig, start = 0, num_to_check = 8)
        SV * sig
        int start
        int num_to_check
        CODE:
        RETVAL = perl_png_sig_cmp (sig, start, num_to_check);
        OUTPUT:
        RETVAL

void perl_png_scalar_as_input (Png, scalar, transforms = 0)
        [% config.base %]::Libpng Png
        SV * scalar
        int transforms
        CODE:
        perl_png_scalar_as_input (Png, scalar, transforms);
        OUTPUT:

void perl_png_read_from_scalar (Png, scalar, transforms = 0)
        [% config.base %]::Libpng Png
        SV * scalar
        int transforms
        CODE:
        perl_png_read_from_scalar (Png, scalar, transforms);
        OUTPUT:

const char * perl_png_color_type_name (color_type)
        int color_type
        CODE:
        RETVAL = perl_png_color_type_name (color_type);
        OUTPUT:
        RETVAL

const char * perl_png_text_compression_name (text_compression)
        int text_compression
        CODE:
        RETVAL = perl_png_text_compression_name (text_compression);
        OUTPUT:
        RETVAL

const char * perl_png_get_libpng_ver ()
        CODE:
        RETVAL = png_get_libpng_ver (0);
        OUTPUT:
        RETVAL

int perl_png_access_version_number ()
        CODE:
        RETVAL = png_access_version_number ();
        OUTPUT:
        RETVAL

void * perl_png_get_row_pointers (Png)
        [% config.base %]::Libpng  Png
        CODE:
        RETVAL = perl_png_get_row_pointers (Png);
        OUTPUT:
        RETVAL

SV * perl_png_get_rows (Png)
        [% config.base %]::Libpng  Png
        CODE:
        RETVAL = perl_png_get_rows (Png);
        OUTPUT:
        RETVAL

int perl_png_get_rowbytes (Png)
        [% config.base %]::Libpng  Png
        CODE:
        RETVAL = png_get_rowbytes (Png->png, Png->info);
        OUTPUT:
        RETVAL


int perl_png_get_channels (Png)
        [% config.base %]::Libpng Png
        CODE:
        RETVAL = png_get_channels (Png->png, Png->info);
        OUTPUT:
        RETVAL


SV * perl_png_get_valid (Png)
        [% config.base %]::Libpng Png
        CODE:
        RETVAL = perl_png_get_valid (Png);
        OUTPUT:
        RETVAL

void perl_png_set_row_pointers (Png, row_pointers)
        [% config.base %]::Libpng Png
        void * row_pointers
        CODE:
        perl_png_set_row_pointers (Png, row_pointers);
        OUTPUT:

void perl_png_set_tRNS_pointer (Png, tRNS_pointer, num_tRNS_pointer)
        [% config.base %]::Libpng Png
        void * tRNS_pointer
        int num_tRNS_pointer
        CODE:
        perl_png_set_tRNS_pointer (Png, tRNS_pointer, num_tRNS_pointer);
        OUTPUT:

void perl_png_set_rows (Png, rows)
        [% config.base %]::Libpng Png
        AV * rows
        CODE:
        perl_png_set_rows (Png, rows);
        OUTPUT:

SV * perl_png_write_to_scalar (Png, transforms = 0)
        [% config.base %]::Libpng Png
        int transforms;
        CODE:
        RETVAL = perl_png_write_to_scalar (Png, transforms);
        OUTPUT:
        RETVAL

void perl_png_set_filter (Png, filters)
        [% config.base %]::Libpng Png
        int filters;
        CODE:
        png_set_filter (Png->png, 0, filters);
        OUTPUT:

void perl_png_set_verbosity (Png, verbosity = 0)
        [% config.base %]::Libpng Png
        int verbosity; 
        CODE:
        perl_png_set_verbosity (Png, verbosity);
        OUTPUT:
        
void perl_png_set_unknown_chunks (Png, unknown_chunks)
        [% config.base %]::Libpng Png
        AV * unknown_chunks
        CODE:
        perl_png_set_unknown_chunks (Png, unknown_chunks);
        OUTPUT:

SV * perl_png_get_unknown_chunks (Png)
        [% config.base %]::Libpng Png
        CODE:
        RETVAL = perl_png_get_unknown_chunks (Png);
        OUTPUT:
        RETVAL

int perl_png_supports (what)
        const char * what
        CODE:
        RETVAL = perl_png_supports (what);
        OUTPUT:
        RETVAL

void perl_png_set_keep_unknown_chunks (Png, keep, chunk_list = 0)
        [% config.base %]::Libpng Png
        int keep
        SV * chunk_list
        CODE:
        perl_png_set_keep_unknown_chunks (Png, keep, chunk_list);
        OUTPUT:

SV * perl_png_get_tRNS_palette (Png)
        [% config.base %]::Libpng Png
        CODE:
        RETVAL = perl_png_get_tRNS_palette (Png);
        OUTPUT:
        RETVAL

void perl_png_set_PLTE_pointer (Png, colors, n_colors)
        [% config.base %]::Libpng Png
        void * colors
        int n_colors
        CODE:
        perl_png_set_PLTE_pointer (Png, colors, n_colors);
        OUTPUT:

void perl_png_set_expand (Png)
        [% config.base %]::Libpng Png
        CODE:
        perl_png_set_expand (Png);
        OUTPUT:

void perl_png_set_gray_to_rgb (Png)
        [% config.base %]::Libpng Png
        CODE:
        perl_png_set_gray_to_rgb (Png);
        OUTPUT:

void perl_png_set_filler (Png, filler, flags)
        [% config.base %]::Libpng Png
        int filler
        int flags
        CODE:
        perl_png_set_filler (Png, filler, flags);
        OUTPUT:

int perl_png_get_sRGB (Png)
        [% config.base %]::Libpng Png
        CODE:
        RETVAL = perl_png_get_sRGB (Png);
        OUTPUT:
        RETVAL

void perl_png_set_sRGB (Png, sRGB)
        [% config.base %]::Libpng Png
        int sRGB
        CODE:
        perl_png_set_sRGB (Png, sRGB);
        OUTPUT:

void perl_png_set_packing (Png)
        [% config.base %]::Libpng Png
        CODE:
        png_set_packing (Png->png);
        OUTPUT:

void perl_png_set_strip_16 (Png)
        [% config.base %]::Libpng Png
        CODE:
        perl_png_set_strip_16 (Png);
        OUTPUT: 

void perl_png_DESTROY (Png)
        [% config.base %]::Libpng Png
	CODE:
        if (Png) {
        	perl_png_destroy (Png);
	}
	OUTPUT:

[%- FOR chunk IN chunks %]
[%- IF chunk.auto_type %]
SV * perl_png_get_[% chunk.name %] (Png)
        [% config.base %]::Libpng Png
        CODE:
        RETVAL = perl_png_get_[% chunk.name %] (Png);
        OUTPUT:
        RETVAL

void perl_png_set_[% chunk.name %] (Png, [% chunk.name %]
[%- IF chunk.defined('default') %] =  [% chunk.default %][%- END -%]
)
        [% config.base %]::Libpng Png
        [%- IF chunk.auto_type == "sv" ||chunk.auto_type == "av" ||chunk.auto_type == "hv" %]
        [% chunk.auto_type | upper %] * [% chunk.name %]
        [%- ELSE %]
        [% chunk.auto_type %] [% chunk.name %]
        [%- END %]
        CODE:
        perl_png_set_[% chunk.name %] (Png, [% chunk.name %]);
        OUTPUT:

[% END %]
[%- END %]
#line 243 "Libpng.xs.tmpl"

