#line 2 "tmpl/Libpng.xs.tmpl"
#include "EXTERN.h"
#include "perl.h"
#include "XSUB.h"

#include <png.h>
#include "perl-libpng.h"
#include "const-c.inc"

MODULE = [% config.base %] PACKAGE = [% config.base %]::Libpng PREFIX = perl_png_

PROTOTYPES: ENABLE

INCLUDE: const-xs.inc

[% config.base %]::Libpng::t * perl_png_create_read_struct ()
        CODE:
        RETVAL = perl_png_create_read_struct ();
        OUTPUT:
        RETVAL

[% config.base %]::Libpng::t * perl_png_create_write_struct ()
        CODE:
        RETVAL = perl_png_create_write_struct ();
        OUTPUT:
        RETVAL

void perl_png_destroy_read_struct (Png)
        [% config.base %]::Libpng::t *  Png
        CODE:
        perl_png_destroy_read_struct (Png);
        OUTPUT:

void perl_png_destroy_write_struct (Png)
        [% config.base %]::Libpng::t *  Png
        CODE:
        perl_png_destroy_write_struct (Png);
        OUTPUT:

void perl_png_write_png (Png, transforms = PNG_TRANSFORM_IDENTITY)
        [% config.base %]::Libpng::t *  Png
        int transforms
        CODE:
        perl_png_write_png (Png, transforms);
        OUTPUT:

void perl_png_init_io (Png, fp)
        [% config.base %]::Libpng::t *  Png
        FILE * fp
        CODE:
        png_init_io (Png->png, fp);
        OUTPUT:

void perl_png_read_info (Png)
        [% config.base %]::Libpng::t *  Png
        CODE:
        png_read_info (Png->png, Png->info);
        OUTPUT:

void perl_png_read_png (Png, transforms = PNG_TRANSFORM_IDENTITY)
        [% config.base %]::Libpng::t *  Png
        int transforms
        CODE:
        png_read_png (Png->png, Png->info, transforms, 0);
        OUTPUT:

HV * perl_png_get_IHDR (Png)
        [% config.base %]::Libpng::t *  Png
        CODE:
        RETVAL = perl_png_get_IHDR (Png);
        OUTPUT:
        RETVAL

SV * perl_png_get_tIME (Png)
        [% config.base %]::Libpng::t *  Png
        CODE:
        RETVAL = perl_png_get_time (Png);
        OUTPUT:
        RETVAL

void perl_png_set_tIME (Png, time = &PL_sv_undef)
        [% config.base %]::Libpng::t *  Png
        SV * time
        CODE:
        perl_png_set_time (Png, time);
        OUTPUT:

SV * perl_png_get_text (Png)
        [% config.base %]::Libpng::t *  Png
        CODE:
        RETVAL = perl_png_get_text (Png);
        OUTPUT:
        RETVAL

void perl_png_set_text (Png, text)
        [% config.base %]::Libpng::t *  Png
        AV * text
        CODE:
        perl_png_set_text (Png, text);
        OUTPUT:

int perl_png_sig_cmp (sig, start = 0, num_to_check = 8)
        SV * sig
        int start
        int num_to_check
        CODE:
        RETVAL = perl_png_sig_cmp (sig, start, num_to_check);
        OUTPUT:
        RETVAL

void perl_png_read_from_scalar (Png, scalar, transforms = 0)
        [% config.base %]::Libpng::t * Png
        SV * scalar
        int transforms
        CODE:
        perl_png_read_from_scalar (Png, scalar, transforms);
        OUTPUT:

const char * perl_png_color_type_name (color_type)
        int color_type
        CODE:
        RETVAL = perl_png_color_type_name (color_type);
        OUTPUT:
        RETVAL

const char * perl_png_text_compression_name (text_compression)
        int text_compression
        CODE:
        RETVAL = perl_png_text_compression_name (text_compression);
        OUTPUT:
        RETVAL

const char * perl_png_get_libpng_ver ()
        CODE:
        RETVAL = png_get_libpng_ver (0);
        OUTPUT:
        RETVAL

int perl_png_access_version_number ()
        CODE:
        RETVAL = png_access_version_number ();
        OUTPUT:
        RETVAL

AV * perl_png_get_rows (Png)
        [% config.base %]::Libpng::t *  Png
        CODE:
        RETVAL = perl_png_get_rows (Png);
        OUTPUT:
        RETVAL

int perl_png_get_rowbytes (Png)
        [% config.base %]::Libpng::t *  Png
        CODE:
        RETVAL = png_get_rowbytes (Png->png, Png->info);
        OUTPUT:
        RETVAL

AV * perl_png_get_PLTE (Png)
        [% config.base %]::Libpng::t *  Png
        CODE:
        RETVAL = perl_png_get_PLTE (Png);
        OUTPUT:
        RETVAL

void perl_png_set_PLTE (Png, colors)
        [% config.base %]::Libpng::t *  Png
        AV * colors
        CODE:
        perl_png_set_PLTE (Png, colors);

HV * perl_png_get_bKGD (Png)
        [% config.base %]::Libpng::t *  Png
        CODE:
        RETVAL = perl_png_get_bKGD (Png);
        OUTPUT:
        RETVAL

HV * perl_png_get_cHRM (Png)
        [% config.base %]::Libpng::t *  Png
        CODE:
        RETVAL = perl_png_get_cHRM (Png);
        OUTPUT:
        RETVAL

int perl_png_get_channels (Png)
        [% config.base %]::Libpng::t * Png
        CODE:
        RETVAL = png_get_channels (Png->png, Png->info);
        OUTPUT:
        RETVAL


HV * perl_png_get_sBIT (Png, sig_bit)
        [% config.base %]::Libpng::t * Png
        CODE:
        RETVAL = perl_png_get_sBIT (Png);
        OUTPUT:
        RETVAL


HV * perl_png_get_oFFs (Png)
        [% config.base %]::Libpng::t * Png
        CODE:
        RETVAL = perl_png_get_oFFs (Png);
        OUTPUT:
        RETVAL


HV * perl_png_get_pHYs (Png)
        [% config.base %]::Libpng::t * Png
        CODE:
        RETVAL = perl_png_get_pHYs (Png);
        OUTPUT:
        RETVAL


int perl_png_get_sRGB (Png)
        [% config.base %]::Libpng::t * Png
        CODE:
        RETVAL = perl_png_get_sRGB (Png);
        OUTPUT:
        RETVAL


HV * perl_png_get_valid (Png)
        [% config.base %]::Libpng::t * Png
        CODE:
        RETVAL = perl_png_get_valid (Png);
        OUTPUT:
        RETVAL

void perl_png_set_rows (Png, rows)
        [% config.base %]::Libpng::t * Png
        AV * rows
        CODE:
        perl_png_set_rows (Png, rows);
        OUTPUT:

void perl_png_set_IHDR (Png, IHDR)
        [% config.base %]::Libpng::t * Png
        HV * IHDR
        CODE:
        perl_png_set_IHDR (Png, IHDR);
        OUTPUT:
        
SV * perl_png_write_to_scalar (Png, transforms = 0)
        [% config.base %]::Libpng::t * Png
        int transforms;
        CODE:
        RETVAL = perl_png_write_to_scalar (Png, transforms);
        OUTPUT:
        RETVAL

void perl_png_set_filter (Png, filters)
        [% config.base %]::Libpng::t * Png
        int filters;
        CODE:
        png_set_filter (Png->png, 0, filters);
        OUTPUT:

void perl_png_set_verbosity (Png, verbosity = 0)
        [% config.base %]::Libpng::t * Png
        int verbosity; 
        CODE:
        perl_png_set_verbosity (Png, verbosity);
        OUTPUT:
        
