{
    "name": "[% config.base %]",
    "abstract": "[% config.abstract %]",
    "version": "[% config.version %]",
    "author": [
        "[% config.author %] <[% config.email %]>"
    ],
    "license": [ "perl" ],
    "no_index": {
        "directory": ["t", "inc", "tmpl", "build"]
    },
    "resources": "[% config.MailingList %]"
}
